# Automated verification

Public-key cryptography uses two different keys involved: a private, secret key and a public key. Applied encryption algorithms are somewhat more complex, but there is always the need to verify that a device is really talking with the right remote device and that no man-in-the-middle is involved in the conversation. And some services automatise this for convenience by, for example, automatically trusting a new key if there was no known key before.

## Mitigation

### Individuals

* Use other authenticated channels like websites with HTTPS, a phone call, a personal meeting or signing parties. 
